body {
  margin: 0px;
  color: #fff;
  background-image: url(../Pcs/seamless-texture-white-brick-cement-wall-rough-surface-with-space-text-backgroundx9_661047-1629.avif);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Sedgwick Ave Display', cursive;
}

ul {
  list-style: none;
  background: #5d7d3c;
  text-align: center;
  position: relative;
  width: 1050px;
  margin: 20px auto 24px;
  border-radius: 45px;
  padding-left: 50px;
  margin-bottom: 5px;
}
.nav:hover {
  color: #3d5526;
  transition-duration: 0.3s;
}

#nav {
  background-color: rgb(96, 192, 96);
  border-radius: 45px;
  background-size: cover;
  padding-right: 52px;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

ul li ul.drop-down li {
  display: block;
  background: rgb(18, 151, 18);
}

ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  width: 260px;
  padding-left: 1px;
  border-radius: 0px 0px 0px 0px;
  margin-top: 0px;
  text-align: left;
  border: #fff 1px solid;
  text-align: left;
}

li .box:hover {
  color: rgb(250, 250, 250);
  transition-duration: 0.5s;
  background-color: #6899c8;
  width: 220px;
  text-align: left;
  padding-right: 13.5px;
}

li:hover ul.dropdown {
  display: block;
  background-color: #3d5526;
  text-align: left;
}

#Icons {
  padding-top: 20px;
  position: relative;
  left: 380px;
  font-size: 38px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

#class {
  display: inline-block;
  margin-left: 400px;
}

h1 {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  margin-left: 380px;
  margin-top: 50px;
}

#poem {
  margin-left: 380px;
  margin-right: 50%;
  font-family: 'Sedgwick Ave Display', cursive;
  color: black;
  margin-top: 20px;
}

h2 {
  font: inherit;
}

#Apply {
  color: #fff;
  background: #6899c8;
  width: 248px;
  font-size: 24px;
  line-height: 62px;
  border-radius: 45px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: 'Sedgwick Ave Display', cursive;
  margin-left: 370px;
  margin-top: 20px;
}

#Apply:hover {
  background-color: rgb(3, 121, 3);
  transition-duration: 0.5s;
}

#BgImage {
  position: absolute;
  top: 0;
  border-radius: 0px 0px 0px 80px;
  margin-left: 60%;
  background-size: cover;
  height: 78%;
  width: 30%;
}
#container {
  transition: all 0.3s;
}

#poem2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: comic sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 45%;
}

#color {
  background-color: #5499c7;
}

#section1 {
  border: hidden;
  border-radius: 25px;
  padding: 25px;
  float: left;
  background-color: #fdfefe;
  width: 13%;
  margin-left: 30%;
  top: 230px;
  height: 20%;
  position: sticky;
  color: #000000;
  padding-bottom: 5%;
  margin-top: 5%;
}

#section2 {
  border: hidden;
  border-radius: 25px;
  padding: 25px;
  float: right;
  background-color: #fdfefe;
  width: 13%;
  margin-right: 10%;
  top: 230px;
  height: 20%;
  position: sticky;
  color: #000000;
  padding-bottom: 9%;
  margin-top: 5%;
}

.content1 {
  font-size: 20px;
  font-family: 'Sedgwick Ave Display', cursive;
}

#content2 {
  font-size: 20px;
  font-family: 'Sedgwick Ave Display', cursive;
  margin-left: 15%;
  margin-right: 15%;
}

.header {
  font-size: 30px;
  font-family: 'Cabin Sketch', sans-serif;
}

#header1 {
  font-size: 30px;
  color: #fdfefe;
  font-family: 'Cabin Sketch', sans-serif;
}

#header2 {
  font-size: 40px;
  color: #fdfefe;
  font-family: 'Cabin Sketch', sans-serif;
}

#click1 {
  border: hidden;
  background-color: #5499c7;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #fdfefe;
  margin-bottom: 5%;
}
#click1:hover {
  background-color: #36831f;
}

#click2 {
  border: hidden;
  background-color: #5499c7;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #fdfefe;
  margin-bottom: 5%;
}

#click2:hover {
  background-color: #36831f;
}

#paragraph {
  font-size: 25px;
  color: #fdfefe;
}

#image1 {
  background-image: url(../IMG/school.JPG);
  position: absolute;
  margin-top: 6%;
  margin-left: 10%;
  background-size: cover;
  height: 500px;
  width: 450px;
  border-bottom-left-radius: 10%;
}

#image2 {
  background-image: url(../IMG/summer.jpeg);
  position: absolute;
  margin-top: 6%;
  margin-left: 45%;
  background-size: cover;
  height: 500px;
  width: 450px;
  border-bottom-left-radius: 10%;
}

#image3 {
  background-image: url(../IMG/sum1.jfif);
  position: absolute;
  margin-top: 0;
  margin-left: 10%;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-bottom-left-radius: 10%;
}

#image4 {
  background-image: url(../IMG/sum2.jfif);
  position: absolute;
  margin-top: 0;
  margin-left: 30%;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-bottom-left-radius: 10%;
}

.button:hover {
  background-color: #1abc9c;
}

#YunoHead {
  background: #adcf93;
  width: 1920px;
  max-width: 100%;
  height: 53rem;
  margin: 0 auto;
}

.YunoHeadingText {
  text-align: center;
  color: white;
  padding-top: 3rem;
}

.YunoMission {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  display: block;
}

p {
  margin: 0rem;
  font-size: 17px;
}

.style-link {
  background: #fff;
  font-size: 25px;
  color: #333;
  line-height: 3rem;
  width: 12rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 60px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  margin-top: 3rem;
  margin-bottom: 4rem;
}

#LogoYuno {
  background-image: url(../IMAGES/wha.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 35rem;
}

.Logo2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0rem;
  padding-top: 35rem;
}

.text-logo {
  text-align: center;
  padding-top: 1rem;
  color: black;
}

.b1,
.b2,
.b3 {
  background-color: rgb(86, 150, 86);
  color: rgb(255, 255, 255);
  margin: 5px;
  width: 18rem;
  height: 4rem;
  border-radius: 1rem;
  display: inline-block;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;
}

.nav-bar {
  width: 60rem;
  margin-left: 29rem;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(86, 150, 86);
}

.nav-bar {
  border-radius: 2.5rem;
}
.hometext {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding-left: 2.8rem;
  font: 1em sans-serif;
}

h4 {
  margin-left: 30%;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-decoration: none;
  padding-left: 1rem;
}

.Curious {
  font-style: initial;
  color: rgb(19, 71, 19);
}

.p {
  margin-top: 2rem;
}

.HeadingText {
  font-size: 2rem;
}
