body {
  margin: 0px;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Happy Monkey", cursive;
}

ul {
  list-style: none;
  background: #5d7d3c;
  text-align: left;
  position: relative;
  width: 1050px;
  margin: 20px auto 24px;
  border-radius: 45px;
  padding-left: 50px;
  margin-bottom: 5px;
}

#nav {
  background-color: rgb(96, 192, 96);
  border-radius: 45px;
  background-size: cover;
  padding-right: 52px;
}

#nav:hover {
  background-color: #3d5526;
  transition-duration: 0.2s;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

ul li ul.drop-down li {
  display: block;
  background: rgb(18, 151, 18);
}

ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  width: 260px;
  padding-left: 1px;
  border-radius: 0px 0px 0px 0px;
  margin-top: 0px;
  text-align: left;
  border: #fff 1px solid;
  text-align: left;
}

li .box:hover {
  color: rgb(250, 250, 250);
  transition-duration: 0.5s;
  background-color: #6899c8;
  width: 220px;
  text-align: left;
  padding-right: 13.5px;
}

li:hover ul.dropdown {
  display: block;
  background-color: #3d5526;
  text-align: left;
}

#Icons {
  padding-top: 20px;
  position: relative;
  left: 380px;
  font-size: 38px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

#class {
  display: inline-block;
  margin-left: 400px;
}

h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  margin-left: 380px;
  margin-top: 50px;
}

#poem {
  margin-left: 380px;
  margin-right: 50%;
  font-family: "Sedgwick Ave Display", cursive;
  color: black;
  margin-top: 20px;
}

h2 {
  font: inherit;
}

#Apply {
  color: #fff;
  background: #6899c8;
  width: 248px;
  font-size: 24px;
  line-height: 62px;
  border-radius: 45px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: "Sedgwick Ave Display", cursive;
  margin-left: 370px;
  margin-top: 20px;
}

#Apply:hover {
  background-color: rgb(3, 121, 3);
  transition-duration: 0.5s;
}

#BgImage {
  position: fixed;
  top: 0;
  border-radius: 0px 0px 0px 80px;
  margin-left: 60%;
  background-size: cover;
  height: 730px;
  width: 550px;
}
#container{
  transition: all 0.3s;
}