body {
  margin: 0px;
  color: #fff;
  background-image: url(../Pcs/seamless-texture-white-brick-cement-wall-rough-surface-with-space-text-backgroundx9_661047-1629.avif);

}

* {
  margin: 0;
  padding: 0;
  font-family: "Sedgwick Ave Display", cursive;
}

ul {
  list-style: none;
  background: #5d7d3c;
  text-align: center;
  position: relative;
  width: 1050px;
  margin: 20px auto 24px;
  border-radius: 45px;
  padding-left: 50px;
  margin-bottom: 5px;
}
.nav:hover {
  color: #3d5526;
  transition-duration: 0.3s;
}

#nav {
  background-color: rgb(96, 192, 96);
  border-radius: 45px;
  background-size: cover;
  padding-right: 52px;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

ul li ul.drop-down li {
  display: block;
  background: rgb(18, 151, 18);
}

ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  width: 260px;
  padding-left: 1px;
  border-radius: 0px 0px 0px 0px;
  margin-top: 0px;
  text-align: left;
  border: #fff 1px solid;
  text-align: left;
}

li .box:hover {
  color: rgb(250, 250, 250);
  transition-duration: 0.5s;
  background-color: #6899c8;
  width: 220px;
  text-align: left;
  padding-right: 13.5px;
}

li:hover ul.dropdown {
  display: block;
  background-color: #3d5526;
  text-align: left;
}

#Icons {
  padding-top: 20px;
  position: relative;
  left: 380px;
  font-size: 38px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

#class {
  display: inline-block;
  margin-left: 400px;
}

h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  margin-left: 380px;
  margin-top: 50px;
}

#poem {
  margin-left: 380px;
  margin-right: 50%;
  font-family: "Sedgwick Ave Display", cursive;
  color: black;
  margin-top: 20px;
}

h2 {
  font: inherit;
}

#Apply {
  color: #fff;
  background: #6899c8;
  width: 248px;
  font-size: 24px;
  line-height: 62px;
  border-radius: 45px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: "Sedgwick Ave Display", cursive;
  margin-left: 370px;
  margin-top: 20px;
}

#Apply:hover {
  background-color: rgb(3, 121, 3);
  transition-duration: 0.5s;
}

#BgImage {
  position: fixed;
  top: 0;
  border-radius: 0px 0px 0px 80px;
  margin-left: 60%;
  background-size: cover;
  height: 78%;
  width: 30%;
}
#container {
  transition: all 0.3s;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;  
}
.login-box {
  position: relative;
  width: 400px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  position: absolute;
  inset: 2px;
  z-index: 10;
  display: flex;
  background: #6d5656;
  flex-direction: column;
  backdrop-filter: blur(15px);
  padding: 30px 30px;
  font-family: "Sedgwick Ave Display", cursive;
  border-radius:50px ;
}
.login {
  font-size: 60px;
  color: #fff;
  text-align: center;
  font-family: "Cabin Sketch", sans-serif;

  width: 100%;


}
.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  line-height: 57px;
}
.remember-forgot {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.button {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.register-link {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
  font-family: "Sedgwick Ave Display", cursive;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}

#container{
  color: #ffffff;
  text-align: center;
  font-family: comic sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 45%;
}

#color{
  background-color: #5499C7;
}

#section1{
  border: hidden;
  border-radius: 25px;
  padding: 25px;
  float: left;
  background-color: #FDFEFE;
  width: 13%;
  margin-left: 30%;
  top: 230px;
  height: 20%;
  position: sticky;
  color: #000000;
  padding-bottom: 5%;
  margin-top: 5%;
}

#section2{
  border: hidden;
  border-radius: 25px;
  padding: 25px;
  float: right;
  background-color: #FDFEFE;
  width: 13%;
  margin-right: 10%;
  top: 230px; 
  height: 20%;
  position: sticky;
  color: #000000;
  padding-bottom: 9%;
  margin-top: 5%;
}

.content1{
  font-size: 20px;
  font-family: "Sedgwick Ave Display", cursive;
}

#content2{
  font-size: 20px;
  font-family: "Sedgwick Ave Display", cursive;
  margin-left: 15%;
  margin-right: 15%;
}

.header{
  font-size: 30px;
  font-family: "Cabin Sketch", sans-serif;
}

#header1{
  font-size: 30px;
  color: #FDFEFE ;
  font-family: "Cabin Sketch", sans-serif;
}

#header2{
  font-size: 40px;
  color: #FDFEFE ;
  font-family: "Cabin Sketch", sans-serif;
}

#click1{
  border: hidden;
  background-color: #5499C7;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #FDFEFE ;
  margin-bottom: 5%;
}
#click1:hover{
  background-color: #36831f;
}

#click2{
  border: hidden;
  background-color: #5499C7;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #FDFEFE ;
  margin-bottom: 5%;
  
}

#click2:hover{
  background-color: #36831f;
}

#paragraph{
  font-size: 25px;
  color: #FDFEFE ;
}

#image1{
  background-image: url(../IMG/school.JPG);
  position: absolute;
  margin-top: 6%;
  margin-left: 10%;
  background-size: cover;
  height: 500px;
  width: 450px;
  border-bottom-left-radius: 10%;
}

#image2{
  background-image: url(../IMG/summer.jpeg);
  position: absolute;
  margin-top: 6%;
  margin-left: 45%;
  background-size: cover;
  height: 500px;
  width: 450px;
  border-bottom-left-radius: 10%;
}

#image3{
  background-image: url(../IMG/sum1.jfif);
  position: absolute;
  margin-top: 0;
  margin-left: 10%;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-bottom-left-radius: 10%;
}

#image4{
  background-image: url(../IMG/sum2.jfif);
  position: absolute;
  margin-top: 0;
  margin-left: 30%;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-bottom-left-radius: 10%;
}

.button:hover{
  background-color: #1ABC9C ;
}